<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-head">
            <h1>Tasks</h1>
        </div>
        <div class="card-body">
            {{#if contacts}}
             <ul>
                {{#each contacts}}
               
                    <li>
                        {{firstname}}
                    </li>

                    <li>
                        {{lastname}}
                    </li>

                    <li>
                        {{email}}
                    </li>

                    <li>
                        {{phone}}
                    </li>
                {{/each}}
            </ul>
            {{else}}
            <h1>No contacts yet</h1>
            {{/if}}

        </div>
        <div class="card-footer">
            <form action="/new-contact" method="post">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control" autofocus>
                </div>

                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Lastname" class="form-control" >
                </div>

                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control" >
                </div>

                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone" class="form-control" >
                </div>

                <button class="btn btn-primary btn-block">
                    add
                </button>
                
            </form>
        </div>
    </div>
</div>